//navbar
nav
  transition: all 300ms ease
  &.navbar-default
    background-color: transparent !important
    border-color: transparent !important
    box-shadow: none !important
    .container
      width: 100%
      height: inherit
      .navbar-header
        transition: all 300ms ease
        .navbar-brand
          height: inherit
          padding-left: 30px
          padding-right: 30px
          margin-left: 0px

      .navbar-nav
        transition: all 300ms ease
        float: none
        margin: 15px auto
        display: table
        .navbar-brand-logo
          display: none
          a
            padding-top: 0
            padding-bottom: 0
            .brand-logo
              filter: brightness(0) invert(0)
              -webkit-filter: brightness(0) invert(0)
              -moz-filter: brightness(0) invert(0)
              -o-filter: brightness(0) invert(0)
              -ms-filter: brightness(0) invert(0)
              height: 70px
        .navbar-menu
          padding: 0
          margin: 14px 15px
          overflow: hidden
          position: relative
          z-index: 5
          &:before, &:after
            content: ""
            display: block
            background: transparent
            top: 0
            left: 0
            right: 0
            bottom: 0
            position: absolute
            width: 100%
            height: 100%
            -webkit-transition: all 0.3s ease
            -o-transition: all 0.3s ease
            transition: all 0.3s ease
          &:before
            -webkit-transform: translate(0, 0)
            -ms-transform: translate(0, 0)
            -o-transform: translate(0, 0)
            transform: translate(0, 0)
            border-top: 1px solid white
            border-bottom: 1px solid white
            left: -101%

          &:after
            -webkit-transform: translate(0, 0)
            -ms-transform: translate(0, 0)
            -o-transform: translate(0, 0)
            transform: translate(0, 0)
            border-left: 1px solid white
            border-right: 1px solid white
            top: -101%

          &:hover
            color: white
            &:before
              -webkit-transform: translate(101%, 0)
              -ms-transform: translate(101%, 0)
              -o-transform: translate(101%, 0)
              transform: translate(101%, 0)

            &:after
              -webkit-transform: translate(0, 101%)
              -ms-transform: translate(0, 101%)
              -o-transform: translate(0, 101%)
              transform: translate(0, 101%)

          &.contact-active
            &:before
              -webkit-transform: translate(101%, 0)
              -ms-transform: translate(101%, 0)
              -o-transform: translate(101%, 0)
              transform: translate(101%, 0)

            &:after
              -webkit-transform: translate(0, 101%)
              -ms-transform: translate(0, 101%)
              -o-transform: translate(0, 101%)
              transform: translate(0, 101%)
          &.active-menu
            border: 1px solid white
            &:hover
              &:before
                -webkit-transform: none
                -ms-transform: none
                -o-transform: none
                transform: none

              &:after
                -webkit-transform: none
                -ms-transform: none
                -o-transform: none
                transform: none
            a
              padding: 15px
          a
            color: white
            font-weight: bold
            font-size: 12px
            padding: 15px
            text-decoration: none
            outline: none
            box-shadow: none
            z-index: 10
            letter-spacing: 3px
            background-color: transparent
            &:hover
              color: white

  &.navbar-shrink
    background-color: white !important
    box-shadow: 0px 0px 1px 0.5px #D2D0D0 !important
    .container
      .navbar-nav
        margin: 20px auto
        .navbar-menu
          margin: 14px 10px
          &:before, &:after
            content: ""
            display: block
            background: transparent
            top: 0
            left: 0
            right: 0
            bottom: 0
            position: absolute
            width: 100%
            height: 100%
            -webkit-transition: all 0.3s ease
            -o-transition: all 0.3s ease
            transition: all 0.3s ease
          &:before
            -webkit-transform: translate(0, 0)
            -ms-transform: translate(0, 0)
            -o-transform: translate(0, 0)
            transform: translate(0, 0)
            border-top: 1px solid #3b3b3b
            border-bottom: 1px solid #3b3b3b
            left: -101%

          &:after
            -webkit-transform: translate(0, 0)
            -ms-transform: translate(0, 0)
            -o-transform: translate(0, 0)
            transform: translate(0, 0)
            border-left: 1px solid #3b3b3b
            border-right: 1px solid #3b3b3b
            top: -101%

          &:hover
            &:before
              -webkit-transform: translate(101%, 0)
              -ms-transform: translate(101%, 0)
              -o-transform: translate(101%, 0)
              transform: translate(101%, 0)

            &:after
              -webkit-transform: translate(0, 101%)
              -ms-transform: translate(0, 101%)
              -o-transform: translate(0, 101%)
              transform: translate(0, 101%)
          a
            color: #3b3b3b
            &:hover
              color: #3b3b3b

#cover
  background-attachment: fixed
  background-image: url("/img/cover-bg.jpg")
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  position: relative
  height: calc(100vh - 64px)
  min-height: 100vh
  .container-fluid
    height: inherit
    #bg-overlay
      position: absolute
      z-index: 1
      height: 100%
      width: 100%
      top: 0
      background-color: rgba(0,0,0,0.3)
    .logo-container
      z-index: 2
      position: relative
      top: 50%
      transform: translateY(-50%)
      -ms-transform: translateY(-50%)
      -webkit-transform: translateY(-50%)
      -moz-transform: translateY(-50%)
      -o-transform: translateY(-50%)
      .logo
        height: 160px
      .intro-text
        display: block
        margin-top: 30px
        color: white
        text-align: center
        font-size: 22px
        letter-spacing: 1px
        line-height: 28px
        font-style: italic


#whyus
  padding-top: 30px
  padding-bottom: 60px
  position: relative
  .header-section
    margin-top: 30px
    margin-bottom: 30px
    .header
      margin: 0
      font-family: "Gotham-Medium"
      text-transform: uppercase
      font-size: 44px
      letter-spacing: 4px
      text-align: center
      display: block
  .content-section
    .icon-section
      display: block
      font-size: 90px
      margin-bottom: 30px
      text-align: center
    .title-section
      font-family: "Gotham-Medium"
      font-size: 22px
      text-align: center
      margin-bottom: 10px
      display: block
    .description-section
      display: block
      line-height: 24px
      max-width: 90%
      min-width: 90%
      margin-left: auto
      margin-right: auto



#gallery
  position: relative
  background-image: url("/img/gallery-bg.jpg")
  background-size: cover
  background-position: top center
  background-repeat: no-repeat
  background-attachment: fixed
  .content-section
    padding: 160px 0
    .bg-overlay
      top: 0
      z-index: 1
      position: absolute
      height: 100%
      width: 100%
      background-color: rgba(0,0,0,0.5)
    .intro-text
      z-index: 2
      position: relative
      color: #fff
      display: block
      text-align: center
      font-family: "Gotham-Medium"
      text-transform: uppercase
      font-size: 34px
      max-width: 69%
      margin-left: auto
      margin-right: auto
      margin-bottom: 30px
    .gallery-button
      z-index: 2
      position: relative
      margin-left: auto
      margin-right: auto
      color: #fff
      text-decoration: none
      outline: none
      display: table
      text-align: center
      text-transform: uppercase
      padding: 20px 40px
      border-radius: 15px
      background-color: #e67e22
      transition: all 300ms ease-in-out
      font-size: 16px
      &:hover
        background-color: #d35400


#service
  padding-top: 30px
  padding-bottom: 30px
  position: relative
  .header-section
    margin-top: 30px
    margin-bottom: 30px
    .header
      margin: 0
      font-family: "Gotham-Medium"
      text-transform: uppercase
      font-size: 44px
      letter-spacing: 4px
      text-align: center
      display: block
  .content-section
    .image-section
      display: block
      font-size: 90px
      margin-bottom: 30px
      text-align: center
    .title-section
      font-family: "Gotham-Medium"
      font-size: 22px
      text-align: center
      margin-bottom: 10px
      display: block
    .description-section
      display: block
      line-height: 24px
      text-align: center
  .rate-button-container
    margin-top: 30px
    margin-bottom: 50px
    .modal-link
      color: white
      display: table
      margin-left: auto
      margin-right: auto
      text-transform: uppercase
      padding: 20px 30px
      background-color: #E91E63
      text-decoration: none
      outline: none
      cursor: pointer




#booth
  padding-top: 30px
  padding-bottom: 30px
  position: relative
  background-color: #f4f4f4
  .left-section
    padding-top: 113px
    padding-bottom: 113px
    .header
      font-family: "Gotham-Medium"
      margin-bottom: 10px
      text-transform: uppercase
      font-size: 44px
      letter-spacing: 4px
      text-align: center
      display: block
    .description
      line-height: 24px
      text-align: center
  .right-section
    margin-top: 30px
    margin-bottom: 30px

#contact
  position: relative
  .left-section
    .map-section
      #map
        height: 500px
  .right-section
    padding-top: 100px
    padding-bottom: 100px
    #header-section
      #header
        font-family: "Gotham-Medium"
        text-transform: uppercase
        font-size: 44px
        letter-spacing: 4px
        text-align: center
        display: block
    #contact-container
      margin-top: 30px
      margin-left: 80px
      ul
        list-style: none
        padding-left: 0
        .contact-list
          margin-bottom: 25px
          .contact-icon
            font-size: 28px
            display: inline-block
            vertical-align: middle
            width: 34px
            &#icon-2
              font-size: 34px
            &#icon-3
              font-size: 24px
          .contact-text
            font-size: 18px
            display: inline-block
            vertical-align: middle
            letter-spacing: 1px
            margin-left: 30px


.modal-content
  padding: 100px 0
  z-index: 2
  border: none
  border-radius: 2px
  -webkit-box-shadow: none
  -moz-box-shadow: none
  box-shadow: none
  background-color: white
  .close-modal
    position: absolute
    top: 25px
    right: 25px
    width: 75px
    height: 75px
    background-color: transparent
    cursor: pointer
    z-index: 3
    transition: all 300ms ease-in-out
    .lr
      z-index: 1051
      width: 1px
      height: 75px
      margin-left: 35px
      background-color: #222
      -webkit-transform: rotate(45deg)
      -ms-transform: rotate(45deg)
      transform: rotate(45deg)
      .rl
        z-index: 1052
        width: 1px
        height: 75px
        background-color: #222
        -webkit-transform: rotate(90deg)
        -ms-transform: rotate(90deg)
        transform: rotate(90deg)
    &:hover
      opacity: 0.5
    &:focus
      outline: none
  .modal-body
    padding-top: 0
    padding-bottom: 0
    color: #3b3b3b
    .header-section
      &#package-header
        padding-top: 30px
        padding-bottom: 30px
      .header-text
        display: block
        text-align: center
        margin-top: 30px
        margin-bottom: 45px
        font-size: 18px
        text-transform: uppercase
        letter-spacing: 2px
    .promo-content-section
      .promo-content-list
        margin-bottom: 30px
        .promo-header
          color: white
          padding-top: 21px
          padding-bottom: 21px
          &#promo-header-last
            padding-top: 33px
            padding-bottom: 33px
          .promo-hour
            color: white
            display: block
            font-size: 24px
            text-align: center
            font-family: "Gotham-Bold"
            text-transform: uppercase
          .promo-price
            display: block
            font-size: 17px
            text-align: center
            font-family: "Gotham-Bold"
        .promo-content
          padding-top: 15px
          min-height: 300px
          background-color: #f4f4f4
          .promo-list
            padding-top: 20px
            .promo-text
              display: block
              font-size: 16px
    .promo-inclusion-container
      padding: 30px
      background-color: #f4f4f4
      width: 970px
      margin-left: auto
      margin-right: auto
      .left-section
        .promo-list
          padding-top: 20px
          .promo-item
            display: block
            font-size: 16px

      .right-section
        .promo-list
          padding-top: 20px
          .promo-item
            display: block
            font-size: 18px
    .bottom-text
      margin-top: 30px
      display: block
      text-align: center
      font-size: 18px
      line-height: 24px



@media (min-width: 1500px)
  #cover
    .container-fluid
      .logo-container
        .logo
          height: 180px
        .intro-text
          font-size: 26px

  #gallery
    .content-section
      .intro-text
        max-width: 51%

  #contact
    .right-section
      #contact-container
        margin-left: 22vh

@media (max-width: 1200px)
  #gallery
    .content-section
      .intro-text
        max-width: 71%

  #contact
    .right-section
      #contact-container
        margin-left: 15px


@media (max-width: 991px)
  #cover
    height: auto
    min-height: 0
    .container-fluid
      .logo-container
        padding-top: 150px
        padding-bottom: 150px
        top: 0
        transform: none
        -webkit-transform: none
        -moz-transform: none
        -o-transform: none
        -ms-transform: none

  #whyus
    .content-section
      .description-section
        text-align: center
      .icon-section
        margin-top: 50px

  #gallery
    .content-section
      .intro-text
        max-width: 100%
        padding-left: 15px
        padding-right: 15px
        text-align: center
        font-size: 28px

  #service
    .content-section
      .title-section
        margin-bottom: 5px
      .image-section
        max-width: 60%
        min-width: 60%

      .description-section
        margin-bottom: 50px
    .rate-button-container
      margin-top: 0
  .modal-content
    .modal-body
      .header-section
        .header
          font-size: 38px
        .header-text
          font-size: 16px
      .promo-inclusion-container
        width: 100%

  #booth
    .left-section
      padding-top: 30px
      padding-bottom: 10px
      .description
        max-width: 80%
        min-width: 80%
        margin-left: auto
        margin-right: auto

  #contact
    .right-section
      #contact-container
        ul
          .contact-list
            text-align: center


@media (max-width: 767px)
  #cover
    .container-fluid
      .logo-container
        .logo
          height: 130px
        .intro-text
          margin-top: 50px
          line-height: 0
          font-size: 22px


  #whyus
    .header-section
      .header
        font-size: 38px

  #gallery
    .content-section
      .intro-text
        font-size: 24px
      .gallery-button
        padding: 20px 30px
        font-size: 14px

  #service
    .header-section
      .header
        font-size: 38px

  #booth
    .left-section
      .header
        font-size: 38px

  #contact
    .right-section
      #header-section
        #header
          font-size: 38px


  .modal-content
    padding-top: 80px
    .close-modal
      top: 20px
      right: 35px
      width: 35px
      height: 35px
      .lr
        height: 35px
        .rl
          height: 35px
    .modal-body
      .header-section
        .header-text
          font-size: 14px
      .promo-content-section
        .promo-content-list
          .promo-content
            min-height: 250px
      .bottom-text
        font-size: 16px

@media (max-width: 568px)
  #cover
    .container-fluid
      .logo-container
        .logo
          height: auto
          max-width: 80%
          min-width: 80%
        .intro-text
          line-height: normal
          margin-top: 25px
          font-size: 16px

  #whyus
    .header-section
      .header
        font-size: 28px
    .content-section
      .icon-section
        font-size: 70px
      .title-section
        font-size: 18px
      .description-section
        max-width: 100%

  #gallery
    .content-section
      padding: 120px 0
      .intro-text
        font-size: 22px

  #service
    .header-section
      .header
        font-size: 28px
    .content-section
      .image-section
        max-width: 90%
        min-width: 90%

  #booth
    .left-section
      .header
        font-size: 28px
        margin-bottom: 30px
      .description
        max-width: 100%
        min-width: 0

  #contact
    .right-section
      padding-top: 50px
      padding-bottom: 50px
      #header-section
        #header
          font-size: 28px
      #contact-container
        margin-left: 0
        ul
          .contact-list
            text-align: left
            .contact-icon
              display: block
              text-align: center
              width: auto
              margin-bottom: 15px
            .contact-text
              margin-left: 0
              display: block
              text-align: center
              font-size: 14px


  .modal-content
    .promo-content-section
      .promo-content-list
        .promo-header
          .promo-hour
            font-size: 22px
          .promo-price
            font-size: 16px
    .modal-body
      .promo-inclusion-container
        padding-left: 0
        padding-right: 0
      .header-section
        &#package-header
          padding-bottom: 0
          .header
            font-size: 18px







