---
layout: default
css: gallery.css
title: Gallery
javascript: >
    <script type="text/javascript" src="/js/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="/js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript">
        // quick search regex
        var qsRegex;
        var filterValue;
        var $container = $('.grid');
        // init Isotope
        $container = $(".grid").isotope({
            itemSelector: '.reel-image-item',
            layoutMode: 'fitRows',
            sortAscending: true,
            filter: function() {
                var $this = $(this);
                var searchResult = qsRegex ? $this.text().match(qsRegex) : true;
                var selectResult = filterValue ? $this.is(filterValue) : true;
                return searchResult  && selectResult;
            }
        });

        // bind filter on select change
        $(".filters-2").on("change", function() {
            // get filter value from option value
            filterValue = $(this).val();
            console.log(filterValue);
            $container.isotope();
        });

        $container.on( 'arrangeComplete', function( event, filteredItems ) {
            if(filteredItems.length == 0 ){
                $("#no-result").addClass("active");
            }
            else{
                $("#no-result").removeClass("active");
            }
        });



        // use value of search field to filter
        var $quicksearch1 = $("#quicksearch1").keyup(
            debounce(function() {
                qsRegex = new RegExp($quicksearch1.val(), "gi");
                $container.isotope();
            })
        );
        var $quicksearch2 = $("#quicksearch2").keyup(
            debounce(function() {
                qsRegex = new RegExp($quicksearch2.val(), "gi");
                $container.isotope();
            })
        );
        // debounce so filtering doesn't happen every millisecond
        function debounce(fn, threshold) {
            var timeout;
            return function debounced() {
                if (timeout) {
                    clearTimeout(timeout);
                }
                function delayed() {
                    fn();
                    timeout = null;
                }
                setTimeout(delayed, threshold || 100);
            };
        }
    </script>

---

{{ content }}