<div class="container">
    <div class="col-md-6 left-section">
        <header class="header">OWN-A-BOOTH</header>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
    </div>
    <div class="col-md-6 right-section">
        <img src="/img/booth.png" id="section-image" class="img-responsive center-block"/>
    </div>
</div>