<div class="container-fluid no-gutter">
    <div class="col-md-6 left-section no-gutter">
        <div class="map-section">
            <div id="map"></div>
        </div>

    </div>
    <div class="col-md-6 right-section">
        <div id="header-section">
            <header id="header">Contact Us</header>
        </div>
        <div id="contact-container">
            <ul>
                <li class="contact-list">
                    <span id="icon-1" class="contact-icon fa fa-phone"></span>
                    <span class="contact-text">(+632) 9193539 / (+632) 2112340</span>
                </li>
                <li class="contact-list">
                    <span id="icon-2" class="contact-icon fa fa-mobile-phone"></span>
                    <span class="contact-text">(+63905) 4519600 / (+63917) 8373783</span>
                </li>
                <li class="contact-list">
                    <span id="icon-3" class="contact-icon fa fa-envelope"></span>
                    <span class="contact-text">mypartypixphotobooth@gmail.com</span>
                </li>
            </ul>
        </div>
    </div>
</div>